body {
    font-family: 'Recursive', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.head {
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
}

.start-btn {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.dice {
    text-align: center;
    margin: 10px;
}

.dice img {
   
    width: 150px;
    height: 150px;
}

.winner {
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
    .head {
        font-size: 1.5em;
    }

    .dice img {
        width: 100px;
        height: 100px;
    }
}
